



    <div class="hamburger" id="hamburger-menu">

        <div></div>

        <div></div>

        <div></div>

    </div>



    <div id="sidebar" class="sidebar hidden">
        
        <ul>

            <li><a href="#" id="hub-tab">Hub</a></li>

            <li><a href="#" id="grid-tab">Grid</a></li>

            <li><a href="#" id="trail-tab">Trail</a></li>

            <li><a href="#" id="aura-tab">Aura</a></li>

        </ul>

    </div>



   



