  :root {
              --primary-bg: #2F9C95;
              --accent-color: #F5DEB3;
              --text-color: #FFFFFF;
              --text-color-translucent: rgba(255, 255, 255, 0.85);
              --active-text-color: #2F9C95; /* Text color for active link */
               --font-primary: "Inter", sans-serif;
        --font-heading-retro: 'Press Start 2P', cursive;
          }

          body {
              margin: 0;
              font-family: var(--font-heading-retro);
              background-color: var(--primary-bg);
              color: var(--text-color);
              min-height: 100vh;
              display: flex;
              flex-direction: column;
          }

 .entire-content{
        display: flex ;
        align-items: center;
        margin: 40px;
        justify-content: center;
        flex-wrap: wrap; /* Added for responsiveness if many cards */
    }
    .box{
        width: 100%;
        background-color: wheat;
        font-family: var(--font-heading-retro);
        font-size: 1em;
        background: wheat;
        color: #000;
        padding: 1em;
        image-rendering: pixelated;
        text-shadow: 1px 1px #000;
        box-shadow:
            0 0 0 0.15em #000,
            0 0 0 0.3em #fff,
            0 0 0 0.45em #000,
            0 0.5em 0 0 #d1451e,
            0 0.5em 0 0.15em #000;
        transition: transform 0.2s steps(1);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    