  :root {
              --primary-bg: #2F9C95;
              --accent-color: #F5DEB3;
              --text-color: #FFFFFF;
              --text-color-translucent: rgba(255, 255, 255, 0.85);
              --active-text-color: #2F9C95; /* Text color for active link */
          }

          body {
              margin: 0;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              background-color: var(--primary-bg);
              color: var(--text-color);
              min-height: 100vh;
              display: flex;
              flex-direction: column;
          }