<% layout("/layouts/boilerplate") %>

<style>

.search-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
}
.article-wrapper {
  width: 250px;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
  border-radius: 10px;
  padding: 5px;
  border: 4px solid transparent;
  cursor: pointer;
  background-color: #2F9C95  ;
  margin: 30px 15px 30px 15px;
}

.article-wrapper:hover {
  -webkit-box-shadow: 10px 10px 0 #1F2937;
  
  
  -webkit-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
}



.types {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: flex-start;
}

.rounded-lg {
 /* class tailwind */
  border-radius: 10px;
}

.article-wrapper:hover .project-hover {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  
}

.project-info {
  padding-top: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.project-title {
  font-size: 1em;
  margin: 0;
  font-weight: 800;
 /* depend de la font */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.flex-pr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-type {
  background: #b2b2fd;
  color: #1a41cd;
  font-weight: bold;
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 12px;
  letter-spacing: -0.6px
}

.project-hover {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container-project {
  width: 100%;
  height: 170px;
  background: gray;
}
.rounded-lg img{
    border-radius: inherit;
}
/* inspired form gumroad website */
.button {
  --bg: #000;
  --hover-bg: wheat;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 40px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}
.liquid-3 {
  --primary: #000;
  --secondary: #fff;
  --time: 0.6s;
  appearance: none;
  position: relative;
  cursor: pointer;
  width: 6em; /* Reduced from 10em */
  aspect-ratio: 2 / 1;
  background: var(--primary);
  border-radius: 20em;
  box-shadow: 0 0 0 0.5em var(--secondary); /* Reduced from 1em */
  transform: translateX(0.5px);
  transition: transform var(--time) cubic-bezier(0.75, 0, 0.75, 50);
  filter: blur(0.33em) contrast(20); /* Reduced from 0.66em (halved) */
  mix-blend-mode: darken;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    transform: translate(-25%, -50%);
    left: 50%;
    top: 50%;
    background: radial-gradient(
        closest-side circle at 12.5% 50%,
        var(--secondary) 50%,
        #0000 0
      ),
      radial-gradient(
        closest-side circle at 87.5% 50%,
        var(--secondary) 50%,
        #0000 0
      ),
      #f000;
    transition: transform var(--time) cubic-bezier(0.75, 0, 0.75, 1.3);
  }

  &:checked {
    transform: translateX(-0.5px);
    &::before {
      transform: translate(-75%, -50%);
    }
  }
}
.toggle{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.switch {
  --_switch-bg-clr: #2F9C95;
  --_switch-padding: 4px; /* padding around button*/
  --_slider-bg-clr: rgba(12, 74, 110, 0.65); /* slider color unchecked */
  --_slider-bg-clr-on:  rgba(12, 74, 110, 0.65); /* slider color checked */
  --_slider-txt-clr: #ffffff;
  --_label-padding: 1rem 2rem; /* padding around the labels -  this gives the switch it's global width and height */
  --_switch-easing: cubic-bezier(
    0.47,
    1.64,
    0.41,
    0.8
  ); /* easing on toggle switch */
  color: white;
  width: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 9999px;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  position: relative;
  isolation: isolate;
}

.switch input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.switch > span {
  display: grid;
  place-content: center;
  transition: opacity 300ms ease-in-out 150ms;
  padding: var(--_label-padding);
}
.switch::before,
.switch::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  transition: inset 150ms ease-in-out;
}
/* switch slider */
.switch::before {
  background-color: var(--_slider-bg-clr);
  inset: var(--_switch-padding) 50% var(--_switch-padding)
    var(--_switch-padding);
  transition:
    inset 500ms var(--_switch-easing),
    background-color 500ms ease-in-out;
  z-index: -1;
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.3),
    0 1px rgba(255, 255, 255, 0.3);
}
/* switch bg color */
.switch::after {
  background-color: var(--_switch-bg-clr);
  inset: 0;
  z-index: -2;
}
/* switch hover & focus */
.switch:focus-within::after {
  inset: -0.25rem;
}
.switch:has(input:checked):hover > span:first-of-type,
.switch:has(input:not(:checked)):hover > span:last-of-type {
  opacity: 1;
  transition-delay: 0ms;
  transition-duration: 100ms;
}
/* switch hover */
.switch:has(input:checked):hover::before {
  inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding)
    45%;
}
.switch:has(input:not(:checked)):hover::before {
  inset: var(--_switch-padding) 45% var(--_switch-padding)
    var(--_switch-padding);
}
/* checked - move slider to right */
.switch:has(input:checked)::before {
  background-color: var(--_slider-bg-clr-on);
  inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding)
    50%;
}
/* checked - set opacity */
.switch > span:last-of-type,
.switch > input:checked + span:first-of-type {
  opacity: 0.75;
}
.switch > input:checked ~ span:last-of-type {
  opacity: 1;
}


</style>
<body>
    

<div class="main-content" id="main-content" >
    <div >
        <div class="toggle">
           <label for="filter" class="switch" aria-label="Toggle Filter">
  <input type="checkbox" id="filter" />
  <span>Find Glimmer</span>
  <span>Launch Glimmer</span>
</label>

        </div>
        <ul class="search-container">
        <li>
            <article class="article-wrapper">
            <div class="rounded-lg container-project">
            <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="" style="width: 100%" height="100%">
            </div>
            <div class="project-info">
            <div class="flex-pr">
                <div class="project-title text-nowrap">Project</div>
                <div class="project-hover">
                    
                    </div>
                </div>
                 <div class="types"><span style="width: 40%;">
                    dkd
                </span>
                    <span style="width: 60%;">
                    <a href=""><button class="button">Explore</button></a> </span>
                </div>
                </div>
        </article>
        </li>
        <li>
            <article class="article-wrapper">
            <div class="rounded-lg container-project">
            <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="" style="width: 100%" height="100%">
            </div>
            <div class="project-info">
            <div class="flex-pr">
                <div class="project-title text-nowrap">Project</div>
                <div class="project-hover">
                    <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </div>
                </div>
                 <div class="types"><span style="width: 40%;">
                    dkd
                </span>
                    <span style="width: 60%;">
                    <a href=""><button class="button">Explore</button></a> </span>
                </div>
                </div>
        </article>
        </li>
        <li>
            <article class="article-wrapper">
            <div class="rounded-lg container-project">
            <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="" style="width: 100%" height="100%">
            </div>
            <div class="project-info">
            <div class="flex-pr">
                <div class="project-title text-nowrap">Project</div>
                <div class="project-hover">
                    <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </div>
                </div>
                <div class="types"><span style="width: 40%;">
                    dkd
                </span>
                    <span style="width: 60%;">
                    <a href=""><button class="button">Explore</button></a> </span>
                </div>
                </div>
        </article>
        </li>
        <li><article class="article-wrapper">
            <div class="rounded-lg container-project">
            <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="" style="width: 100%" height="100%">
            </div>
            <div class="project-info">
            <div class="flex-pr">
                <div class="project-title text-nowrap">Project</div>
                <div class="project-hover">
                    <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </div>
                </div>
                 <div class="types"><span style="width: 40%;">
                    dkd
                </span>
                    <span style="width: 60%;">
                    <a href=""><button class="button">Explore</button></a> </span>
                </div>
                </div>
        </article>
    </li>
        <li>
              <article class="article-wrapper">
            <div class="rounded-lg container-project">
            <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="" style="width: 100%" height="100%">
            </div>
            <div class="project-info">
            <div class="flex-pr">
                <div class="project-title text-nowrap">Project</div>
                <div class="project-hover">
                    <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </div>
                </div>
                 <div class="types"><span style="width: 40%;">
                    dkd
                </span>
                    <span style="width: 60%;">
                    <a href=""><button class="button">Explore</button></a> </span>
                </div>
                </div>
        </article>
        </li>
        <li>
            <article class="article-wrapper">
            <div class="rounded-lg container-project">
            <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="" style="width: 100%" height="100%">
            </div>
            <div class="project-info">
            <div class="flex-pr">
                <div class="project-title text-nowrap">Project</div>
                <div class="project-hover">
                    <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </div>
                </div>
                <div class="types"><span style="width: 40%;">
                    dkd
                </span>
                    <span style="width: 60%;">
                    <a href=""><button class="button">Explore</button></a> </span>
                </div>
                </div>
        </article>
        </li>
        </ul>
        
        
        
      
        
          
    </div>
</body>