<% layout("/layouts/boilerplate") %>

<style>

.search-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}
.article-wrapper {
  width: 250px;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
  border-radius: 10px;
  padding: 5px;
  border: 4px solid transparent;
  cursor: pointer;
  background-color: #2F9C95;
  margin: 30px 15px 30px 15px;
}

.article-wrapper:hover {
  -webkit-box-shadow: 10px 10px 0 #1F2937;
  
  
  -webkit-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
}



.types {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: flex-start;
}

.rounded-lg {
 /* class tailwind */
  border-radius: 10px;
}

.article-wrapper:hover .project-hover {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  
}

.project-info {
  padding-top: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.project-title {
  font-size: 1em;
  margin: 0;
  font-weight: 800;
 /* depend de la font */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.flex-pr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-type {
  background: #b2b2fd;
  color: #1a41cd;
  font-weight: bold;
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 12px;
  letter-spacing: -0.6px
}

.project-hover {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container-project {
  width: 100%;
  height: 170px;
  background: gray;
}
.rounded-lg img{
    border-radius: inherit;
}
/* inspired form gumroad website */
.button {
  --bg: #000;
  --hover-bg: wheat;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 40px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

</style>
<body>
    

<div class="main-content" id="main-content" >
    <div >
        <ul class="search-container">
        <li>
            <article class="article-wrapper">
            <div class="rounded-lg container-project">
            <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="" style="width: 100%" height="100%">
            </div>
            <div class="project-info">
            <div class="flex-pr">
                <div class="project-title text-nowrap">Project</div>
                <div class="project-hover">
                    
                    </div>
                </div>
                 <div class="types"><span style="width: 40%;">
                    dkd
                </span>
                    <span style="width: 60%;">
                    <a href=""><button class="button">Explore</button></a> </span>
                </div>
                </div>
        </article>
        </li>
        <li>
            <article class="article-wrapper">
            <div class="rounded-lg container-project">
            <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="" style="width: 100%" height="100%">
            </div>
            <div class="project-info">
            <div class="flex-pr">
                <div class="project-title text-nowrap">Project</div>
                <div class="project-hover">
                    <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </div>
                </div>
                 <div class="types"><span style="width: 40%;">
                    dkd
                </span>
                    <span style="width: 60%;">
                    <a href=""><button class="button">Explore</button></a> </span>
                </div>
                </div>
        </article>
        </li>
        <li>
            <article class="article-wrapper">
            <div class="rounded-lg container-project">
            <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="" style="width: 100%" height="100%">
            </div>
            <div class="project-info">
            <div class="flex-pr">
                <div class="project-title text-nowrap">Project</div>
                <div class="project-hover">
                    <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </div>
                </div>
                <div class="types"><span style="width: 40%;">
                    dkd
                </span>
                    <span style="width: 60%;">
                    <a href=""><button class="button">Explore</button></a> </span>
                </div>
                </div>
        </article>
        </li>
        <li><article class="article-wrapper">
            <div class="rounded-lg container-project">
            <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="" style="width: 100%" height="100%">
            </div>
            <div class="project-info">
            <div class="flex-pr">
                <div class="project-title text-nowrap">Project</div>
                <div class="project-hover">
                    <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </div>
                </div>
                 <div class="types"><span style="width: 40%;">
                    dkd
                </span>
                    <span style="width: 60%;">
                    <a href=""><button class="button">Explore</button></a> </span>
                </div>
                </div>
        </article>
    </li>
        <li>
              <article class="article-wrapper">
            <div class="rounded-lg container-project">
            <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="" style="width: 100%" height="100%">
            </div>
            <div class="project-info">
            <div class="flex-pr">
                <div class="project-title text-nowrap">Project</div>
                <div class="project-hover">
                    <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </div>
                </div>
                 <div class="types"><span style="width: 40%;">
                    dkd
                </span>
                    <span style="width: 60%;">
                    <a href=""><button class="button">Explore</button></a> </span>
                </div>
                </div>
        </article>
        </li>
        <li>
            <article class="article-wrapper">
            <div class="rounded-lg container-project">
            <img src="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630" alt="" style="width: 100%" height="100%">
            </div>
            <div class="project-info">
            <div class="flex-pr">
                <div class="project-title text-nowrap">Project</div>
                <div class="project-hover">
                    <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </div>
                </div>
                <div class="types"><span style="width: 40%;">
                    dkd
                </span>
                    <span style="width: 60%;">
                    <a href=""><button class="button">Explore</button></a> </span>
                </div>
                </div>
        </article>
        </li>
        </ul>
        
        
        
      
        
          
    </div>
</body>